######################
# Node
######################
/node/**
/node_modules/**

######################
# SASS
######################
.sass-cache/**

######################
# Eclipse
######################
.settings
.project
.classpath
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Maven
######################
/log/**
/target/**
**/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db
src/main/java/io/*

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar
/target/
